In [1]:
# Import libraries and fetch data
import pandas as pd

In [4]:
#Load data
dataset1_df = pd.read_csv('dataset1.csv')
dataset2_df = pd.read_csv('dataset2.csv')
dataset3_df = pd.read_csv('dataset3.csv')

**Review and Clean Dataset 1**

In [6]:
#review and clean dataset1 raw data
dataset1_df.head()

,customer_id,date_of_purchase,total_amount_billed,payment_status,payment_method,promo_code,country_of_purchase
0,101,04/01/2021,100,paid,credit card,PROMO1,USA
1,102,04/02/2021,200,paid,bank transfer,PROMO2,USA
2,103,04/02/2021,50,overdue,credit card,NaN,UK
3,104,04/03/2021,75,disputed,e-wallet,PROMO3,UK
4,105,04/04/2021,125,paid,credit card,PROMO4,USA

In [10]:
dataset1_df.isna().sum()

customer_id            0
date_of_purchase       0
total_amount_billed    0
payment_status         0
payment_method         0
promo_code             3
country_of_purchase    0
dtype: int64

In [11]:
dataset1_df.dropna(inplace= True)
dataset1_df.isna().sum()

customer_id            0
date_of_purchase       0
total_amount_billed    0
payment_status         0
payment_method         0
promo_code             0
country_of_purchase    0
dtype: int64

In [13]:
dataset1_df.duplicated()

0     False
1     False
3     False
4     False
6     False
7     False
9     False
10    False
11    False
12    False
13    False
14    False
dtype: bool

In [19]:
dataset1_df.dtypes

customer_id             int64
date_of_purchase       object
total_amount_billed     int64
payment_status         object
payment_method         object
promo_code             object
country_of_purchase    object
dtype: object

In [20]:
dataset1_df['date_of_purchase'] = pd.to_datetime(dataset1_df['date_of_purchase'], format='%m/%d/%Y')
dataset1_df.dtypes

customer_id                     int64
date_of_purchase       datetime64[ns]
total_amount_billed             int64
payment_status                 object
payment_method                 object
promo_code                     object
country_of_purchase            object
dtype: object

**Review and clean dataset 2**

In [7]:
dataset2_df.head()

,customer_id,date_of_payment,amount_paid,payment_method,payment_status,late_payment_fee,country_of_payment
0,101,04/01/2021,100,credit card,paid,0,USA
1,102,04/03/2021,200,bank transfer,paid,0,USA
2,103,04/03/2021,75,credit card,paid,10,UK
3,104,04/04/2021,50,e-wallet,overdue,0,UK
4,105,04/05/2021,125,credit card,paid,0,USA

In [14]:
dataset2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         15 non-null     int64
 1   date_of_payment     15 non-null     object
 2   amount_paid         15 non-null     int64
 3   payment_method      15 non-null     object
 4   payment_status      15 non-null     object
 5   late_payment_fee    15 non-null     int64
 6   country_of_payment  15 non-null     object
dtypes: int64(3), object(4)
memory usage: 968.0+ bytes

In [22]:
dataset2_df['date_of_payment'] = pd.to_datetime(dataset2_df['date_of_payment'], format='%m/%d/%Y')
dataset2_df.dtypes

customer_id                    int64
date_of_payment       datetime64[ns]
amount_paid                    int64
payment_method                object
payment_status                object
late_payment_fee               int64
country_of_payment            object
dtype: object

In [29]:
dataset2_df.isna().sum()

customer_id           0
date_of_payment       0
amount_paid           0
payment_method        0
payment_status        0
late_payment_fee      0
country_of_payment    0
dtype: int64

In [16]:
dataset2_df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
dtype: bool

In [30]:
dataset2_df.head()

,customer_id,date_of_payment,amount_paid,payment_method,payment_status,late_payment_fee,country_of_payment
0,101,2021-04-01,100,credit card,paid,0,USA
1,102,2021-04-03,200,bank transfer,paid,0,USA
2,103,2021-04-03,75,credit card,paid,10,UK
3,104,2021-04-04,50,e-wallet,overdue,0,UK
4,105,2021-04-05,125,credit card,paid,0,USA

**Review and clean dataset3**

In [8]:
dataset3_df.head()

,customer_id,date_of_refund,refund_amount,reason_for_refund,country_of_refund
0,101,04/03/2021,100,product not as described,USA
1,102,04/06/2021,200,defective product,USA
2,103,04/07/2021,75,change of mind,UK
3,104,04/08/2021,50,product not received,UK
4,105,04/09/2021,25,product not as described,USA

In [17]:
dataset3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        15 non-null     int64
 1   date_of_refund     15 non-null     object
 2   refund_amount      15 non-null     int64
 3   reason_for_refund  15 non-null     object
 4   country_of_refund  15 non-null     object
dtypes: int64(2), object(3)
memory usage: 728.0+ bytes

In [25]:
dataset3_df['date_of_refund'] = pd.to_datetime(dataset3_df['date_of_refund'], format='%m/%d/%Y')
dataset3_df.dtypes

customer_id                   int64
date_of_refund       datetime64[ns]
refund_amount                 int64
reason_for_refund            object
country_of_refund            object
dtype: object

In [18]:
dataset3_df.isna().sum()

customer_id          0
date_of_refund       0
refund_amount        0
reason_for_refund    0
country_of_refund    0
dtype: int64

In [31]:
dataset3_df.head()

,customer_id,date_of_refund,refund_amount,reason_for_refund,country_of_refund
0,101,2021-04-03,100,product not as described,USA
1,102,2021-04-06,200,defective product,USA
2,103,2021-04-07,75,change of mind,UK
3,104,2021-04-08,50,product not received,UK
4,105,2021-04-09,25,product not as described,USA

**Merge the datasets**

In [27]:
combined_datasets_df = pd.merge(left=dataset1_df, right=dataset2_df, how='left', left_on=['customer_id','payment_status','payment_method'], right_on= ['customer_id','payment_status','payment_method'])
combined_datasets_df = pd.merge(left=combined_datasets_df, right=dataset3_df, how='left', left_on=['customer_id'], right_on= ['customer_id'])

combined_datasets_df

,customer_id,date_of_purchase,total_amount_billed,payment_status,payment_method,promo_code,country_of_purchase,date_of_payment,amount_paid,late_payment_fee,country_of_payment,date_of_refund,refund_amount,reason_for_refund,country_of_refund
0,101,2021-04-01,100,paid,credit card,PROMO1,USA,2021-04-01,100.0,0.0,USA,2021-04-03,100,product not as described,USA
1,102,2021-04-02,200,paid,bank transfer,PROMO2,USA,2021-04-03,200.0,0.0,USA,2021-04-06,200,defective product,USA
2,104,2021-04-03,75,disputed,e-wallet,PROMO3,UK,NaT,NaN,NaN,NaN,2021-04-08,50,product not received,UK
3,105,2021-04-04,125,paid,credit card,PROMO4,USA,2021-04-05,125.0,0.0,USA,2021-04-09,25,product not as described,USA
4,107,2021-04-06,75,overdue,e-wallet,PROMO5,USA,2021-04-07,75.0,20.0,USA,2021-04-12,150,change of mind,USA
5,108,2021-04-06,100,overdue,bank transfer,PROMO6,USA,2021-04-07,100.0,30.0,USA,2021-04-13,75,product not as described,USA
6,110,2021-04-07,25,overdue,credit card,PROMO7,USA,NaT,NaN,NaN,NaN,2021-04-14,50,product not received,USA
7,111,2021-04-08,175,paid,e-wallet,PROMO8,UK,2021-04-09,175.0,0.0,UK,2021-04-15,175,defective product,UK
8,112,2021-04-08,200,paid,bank transfer,PROMO9,USA,2021-04-10,200.0,0.0,USA,2021-04-16,200,change of mind,USA
9,113,2021-04-09,50,disputed,credit card,PROMO10,USA,2021-04-10,50.0,0.0,USA,2021-04-16,50,product not as described,USA
10,114,2021-04-10,100,paid,credit card,PROMO11,USA,2021-04-11,100.0,0.0,USA,2021-04-17,100,defective product,USA
11,115,2021-04-10,75,overdue,e-wallet,PROMO12,UK,2021-04-12,75.0,15.0,UK,2021-04-18,75,product not received,UK

In [33]:
combined_datasets_df.dropna(inplace= True)

**Save data as csv**

In [34]:
combined_datasets_df.to_csv('final_billing_records.csv', header=True, index=False)